body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.footer-block{
  background: rgb(33,37,41);
  padding: 20px 0;
}
.footer-block p{
  color: #fff;
  margin-bottom: 0;
}
.form-height{
  height: 87.6vh;
}
.form-position{
  display: flex;
  flex-direction: column;
  justify-content: center;

}